{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block body %}
<main class="container">
  <h1>About</h1>
  <p>Hi! I'm Justice. I am student at the University of Iowa majoring in Business Analytics and Marketing. During my time at the University of Iowa, I've balanced academics with a variety of professional roles that have given me experience in business, operations, and hands-on work. Most recently, I worked as a Business Development and Administrative Assistant at ProLift Garage Doors, where I supported sales efforts by preparing proposals, attending networking events, and coordinating schedules. I also served as an Operations Intern at Houses Into Homes, where I created an efficient warehouse map, managed inventory of donated items, and supported furniture deliveries to families in need. These roles have strengthened my organizational, communication, and problem-solving skills.</p>
</main>
{% endblock %}